@tailwind base;
@tailwind components;
@tailwind utilities;
/* Фикс для кнопки кошелька */
.wallet-adapter-button {
  font-family: inherit !important;
  justify-content: center !important;
}

/* Фикс, чтобы окно выбора кошелька не ломало фон сайта */
.wallet-adapter-modal-wrapper {
  background-color: #000000 !important;
  border: 1px solid rgba(255, 255, 255, 0.1) !important;
  color: white !important;
}

.wallet-adapter-modal-title {
  color: white !important;
}